<div class="container">
  <div class="row justify-content-between">
    <div class="col-2">
      <h1 class="">Posts</h1>
    </div>
    <div class="col-2">
      <%= link_to "New post", new_post_path, class: "btn btn-info" %>
    </div>
  </div>
  <% @posts.each do |post| %>
    <article class="card mt-3">
      <div class="card-body">
        <h4 class="text-center"><%= link_to post.title, post_path(post), class: "btn-link nav-link text-success display-6" %></h4>

        <section class="card-text">
          <p class="text-primary mx-5"> By <%=post.user.first_name.capitalize%>
            <time datetime="<%= post.formatted_created_at %>">
              <small><%= post.formatted_created_at %></small>
            </time>
          </p>

          <p class="my-2 text-center text-truncate" style="max-width: 100%;">
            <%= post.body %>
          </p>

          <p class="text-end mt-4"> <i class="far fa-eye">
            <span><%= post.impressionist_count(filter: :ip_address)%></span></i> watching </p>
        </section>
      </div>
    </article>
  <% end %>

</div>
