<h2 class="mb-4"> <%= @post.title %></h2>


<time datetime="<%= @post.formatted_created_at %>">
  <%= @post.formatted_created_at %>
</time>

<p>
  <%= @post.body %>
</p>

<%= link_to 'Show', post_path(@post), class: 'btn btn-primary' %> |
<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-secondary' %> |
<%= link_to 'Destroy', post_path(@post), class: 'btn btn-danger',
  data: {method: :delete, confirm: 'Are you sure?'} %>

<!-- показ коментів-->
<h2>Comments</h2>
<% @post.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<!-- додаєм комент-->
<h2>Add a comment:</h2>
<%= form_with model: [ @post, @post.comments.build ] do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>