<div class="card-body mb-5 shadow-sm bg-light ">
  <h1 class="mb-4, text-center "> <%= @post.title %></h1>

  <figure class="text-start">
    <blockquote class="blockquote">
      <time datetime="<%= @post.formatted_created_at %>">
        <%= @post.formatted_created_at %>
      </time>
    </blockquote>
  </figure>

    <p class="text-justify fw-normal fs-4 shadow-sm bg-white rounded">
      <%= @post.body %>
    </p>

  <div class="row my-4 mx-1">
    <div class="col-11">
    <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary' if author?%>
    <%= link_to 'Destroy', post_path(@post), class: 'btn btn-danger',
      data: {method: :delete, confirm: 'Are you sure?'} if author?%>
    </div>

    <div class="col-1">
    <%= render 'likes/icons' %>
    </div>
  </div>

  <p> <i class="far fa-eye"><span class="mx-1"><%= @post.impressionist_count(:filter=>:ip_address)%></span></i> watching </p>
</div>

<!-- показ коментів-->
<!-- Метод render перебирає @post.comments і візуалізує паршал з коментом-->
<!-- (через присвоєння кожному коменту локальної змінної з таким же іменем, як і паршал (comment), який потім стає доступним в паршалі)-->
<div class="p-2 mt-3 bg-light text-black ">
  <h3 class="mt-4, text-center">Comments:</h3>
</div>
<div class="p-3 mb-2 bg-light text-dark">
  <%= render @post.comments %>
</div>

<!-- додаєм комент-->
<h3>Add a comment:</h3>
<%= render 'comments/form' %>
