<h2 class="mb-4"> <%= @post.title %></h2>


<time datetime="<%= @post.formatted_created_at %>">
  <%= @post.formatted_created_at %>
</time>

<p>
  <%= @post.body %>
</p>

<%= link_to 'Show', post_path(@post), class: 'btn btn-primary' %> |
<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-secondary' %> |
<%= link_to 'Destroy', post_path(@post), class: 'btn btn-danger',
  data: {method: :delete, confirm: 'Are you sure?'} %>

<!-- показ коментів-->
<!-- Метод render перебирає @post.comments і візуалізує паршал з коментом-->
<!-- (через присвоєння кожному коменту локальної змінної с таким же іменем, як і паршал (comment), який потім стає доступним в паршалі)-->
<h2 class="mt-4">Comments</h2>
<%= render @post.comments %>

<!-- додаєм комент-->
<h2>Add a comment:</h2>
<%= render 'comments/form' %>
